In [54]:
# !pip install selenium

In [55]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# PASSO 1: Pegar a cotação do dólar

navegador = webdriver.Edge() #abrir o navegador
navegador.get("https://www.google.com.br/") #abrir o google

# pesquisar a cotação do dolar no google
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotacao dolar")
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

#PEGAR A COTAÇÃO (VALOR ATUAL)
cotacao_dolar = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
# PASSO 2 : Pegar a cotação do euro

navegador.get("https://www.google.com.br/") #abrir o google

# pesquisar a cotação do dolar no google
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotacao euro")
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

#PEGAR A COTAÇÃO (VALOR ATUAL)
cotacao_euro = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# PASSO 3: Pegar a  cotação do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",",".") 

print (cotacao_dolar)
print (cotacao_euro)
print (cotacao_ouro)

navegador.quit()

5.1728
5.2900673760000005
293.37

In [56]:
# PASSO 4: Atualizar a base de dados

# importar a base de dados
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [57]:
# PASSO 5: Recalcular os preços com a cotação atual

# atualizar as cotações:
tabela.loc[tabela["Moeda"]=="Dólar", "Cotação"] = float(cotacao_dolar)       
tabela.loc[tabela["Moeda"]=="Euro", "Cotação"] = float(cotacao_euro)       
tabela.loc[tabela["Moeda"]=="Ouro", "Cotação"] = float(cotacao_ouro)       
display(tabela)

# DIFERENÇA ENTRE = e ==
# ex: texto = "guilherme" => muda a valor da variavel (texto)
# ex: texto == "guilherme" => verifica se o valor do texto é aquele textualizado

# Preço de Compra = preço original x cotação
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]

# Preço de Venda = Preço de Compra x Margem
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.172800,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.290067,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.172800,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.172800,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.290067,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.172800,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,293.370000,7000.00,1.15,8050.000

In [58]:
# PASSO 6: Exportar a base de dados

tabela.to_excel("Produtos Novo.xlsx", index=False)